path {
    pointer-events: all;
    display: flex;
}
path:hover {
    opacity: 0.5;
    cursor: pointer;
}
#rangeInput {
    width: 50%;
}
#currentYear{
    text-align: center;
    font-size: 40px;
}
#rectangle{
    width: 12%;
    height: 20%;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    position: absolute;
    top: 30%;
    left: 79%;

}
#legendList{
    text-align: left;
    list-style-type:square;
    width: 30px;
    height: 30px;
    font-size: 100%;
}
.bullet{
    width: 17%;
    height: 12%;
    position: absolute;
    left: 10%;
    
}
#twenty{
    background-color: #D6E0E8;
    top: 25%
}
#fourty{
    background-color: #A3BACB;
    top: 40%;
}
#sixty{
    background-color: #6E91AD;
    top: 55%
}
#eighty{
    background-color: #38688F;
    top: 70%
}
#onehundo{
    background-color: #003D6F;
    top: 85%;
}
.legendNum{
    position: absolute;
    left: 200%;
    top: -60%
}


